$theme-color: #01b6e3;
$bg-theme-color: #daf7fc;
form > div.form-group {
    & input,
    & select,
    & textarea {
        border: 2px solid $theme-color;
    }
    & label {
        font-weight: unset;
        font-size: small;
    }
}
.bg-dark {
    color: $white;
    background-color: #3b4140 !important;
}
h5 {
    color: $theme-color !important;
    font-size: large;
    text-transform: uppercase;
}
