section.o_pms_pwa_roomdoo {
    .table {
        border-collapse: separate;
        border-spacing: 10px;
    }
    .o_pms_pwa_arrow:before,
    .o_pms_pwa_arrow:after {
        content: "";
        border: solid $theme-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: relative;
    }
    .o_pms_pwa_arrow:after {
        margin-top: -1px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        float: right;
    }
    .o_pms_pwa_arrow:before {
        margin-top: -1px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .o_pms_pwa_table_cell {
        border: 1px solid $grey-300;
        border-radius: 0.25rem;
        min-height: 2rem;
        position: sticky;
        z-index: 1;
        .o_pms_pwa_title {
            color: $black;
        }
        .o_pms_pwa_content {
            margin-top: -1rem;
            text-align: right;
            .o_pms_pwa_type {
                color: $theme-color;
                float: left;
            }
            .o_pms_pwa_price {
                color: $black;
                font-weight: bold;
            }
            .o_pms_pwa_info {
                color: $theme-color;
            }
        }
    }
    .o_pms_pwa_table_week {
        border-top: none;
        border-bottom: 1px solid $theme-color;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .o_pms_pwa_today {
        border-bottom: 3px solid $theme-color;
        vertical-align: middle;
    }
    .o_pms_pwa_today:after {
        content: "";
        position: absolute;
        top: 16%;
        height: 85%;
        border-right: 2px solid $theme-color;
        margin-left: -2rem;
    }
    .o_pms_pwa_room_name {
        color: $black;
        font-weight: bold;
        font-size: larger;
    }
    .o_pms_pwa_extra_info {
        font-size: small;
        margin-top: -1rem;
        span:nth-child(even) {
            margin-left: 1rem;
        }
        span:nth-child(odd) {
            margin-left: 1rem;
        }
        .o_pms_pwa_restr {
            color: $theme-color;
        }
    }
    /* Table movil */
    th:first-child,
    td:first-child {
        position: sticky;
        left: 0px;
        z-index: 2;
        min-width: 3rem;
        border: none;
    }
    tr:nth-child(odd) > td {
        background-color: $white;
    }
    tr:nth-child(even) > td {
        background-color: $white;
    }
    tr:nth-child(odd) > th {
        background-color: $white;
    }
    .o_pms_pwa_hiddenRow {
        padding: 0 !important;
        border: none;
        z-index: 1;
    }
    .o_pms_pwa_calendar_line {
        border-left: 3px solid $grey-900;
        background-color: $bg-theme-color;
        min-height: 3rem;
        margin-left: 1rem;
        z-index: 1;
        margin-right: 0.2rem;
        margin-top: 0.3rem;
        &_room_type {
            position: sticky;
            left: 0px;
            z-index: 2;
            min-width: 2rem;
            background-color: $bg-theme-color;
        }
        &_title {
            color: $theme-color;
            font-weight: bold;
            padding-top: 0.5rem;
        }
        &_content {
            color: $black;
            margin-top: -1rem;
        }
        &_event {
            text-align: center;
            margin-top: 0.5rem;
        }
        &_nigth_2 {
            width: 24%;
        }
        &_nigth_1 {
            width: 12%;
        }
        &_img_bg {
            background-color: $theme-color;
            float: left;
        }
        &_success_hr {
            width: 80%;
            margin: auto;
            margin-top: 0.5rem;
            border-bottom: 3px solid var(--success);
        }
        &_warning_hr {
            width: 80%;
            margin: auto;
            margin-top: 0.5rem;
            border-bottom: 3px solid var(--warning);
        }
    }
    .btn-add {
        display: none;
        margin-top: 0.5rem;
        width: 90%;
        border-radius: 1.5rem;
        border: none;
        background-image: linear-gradient(to right, $theme-color 80%, $bg-theme-color);
        color: $white;
        font-weight: bold;
    }
    .o_pms_pwa_calendar_line_event:hover .btn-add {
        display: block;
    }
}

@media (max-width: 992px) {
    section.o_pms_pwa_roomdoo {
        .o_pms_pwa_today:after {
            display: none;
        }
    }
}
@media (max-width: 576px) {
    section.o_pms_pwa_roomdoo {
        .o_pms_pwa_today:after {
            display: none;
        }
    }
}
