main .oe_website_login_container {
    vertical-align: middle;
    padding: 2rem 3rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    float: none;
    background-color: #ffffff;
    max-width: 400px;
    margin: 20vh auto;
}

.o_pms_pwa_login_logo {
    width: 250px;
    margin-top: 1rem;
    margin-left: 1rem;
}
