$theme-color: #01b6e3;

form > div.form-group {
    & input,
    & select,
    & textarea {
        border: 2px solid $theme-color;
    }
    & label {
        font-weight: unset;
        font-size: small;
    }
}
