body {
    overflow-x: hidden !important;
    display: flex !important;
}

#sidebar-wrapper {
    //min-height: 90vh;

    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    @media (max-width: 992px) {
        display: none;
    }
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    margin-top: 5rem;
}

body.toggled #sidebar-wrapper {
    margin-left: 0;
    display: block;
}
.o_pms_pwa_page_title {
    font-weight: bold;
    font-size: large;
    float: left;
    margin-top: 0.5rem;
}
.o_pms_pwa_logo {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 50%;
}
.o_pms_pwa_menu_link_mobile {
    display: block;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapwrap {
        min-width: 0;
        width: 100%;
    }
    .o_pms_pwa_logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    body.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    #menu-toggle {
        display: none !important;
    }
    .o_pms_pwa_page_title {
        font-weight: bold;
        font-size: xx-large;
        float: left;
        margin-top: 0.5rem;
    }
    .o_pms_pwa_menu_link_mobile {
        display: none;
    }
}

.o_pms_pwa_bg_theme {
    background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
    color: $white;
}
.o_pms_pwa_nav_item {
    color: $white;
    display: block;
    padding-left: 0.75rem;
    & .active {
        border-bottom-left-radius: 5rem;
        border-top-left-radius: 5rem;
        background-color: $white;
        color: $theme-color;
        width: 101%;
    }
    & a {
        color: $white;
    }
    & a:hover {
        color: $black;
    }
    & a.nav-link {
        padding-left: 1.5rem;
    }
    & .o_pms_pwa_sidebar_img:hover,
    & .o_pms_pwa_sidebar_img:focus {
        filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(28deg)
            brightness(100%) contrast(100%);
    }
    & a.active .o_pms_pwa_sidebar_img {
        filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(28deg)
            brightness(100%) contrast(100%);
    }
}

/* UFF */
#top_menu_container > .collapse:not(.show) {
    display: block;
}
#menu-toggle {
    display: block;
    float: left;
    color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
    padding: 0.25rem 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
}
@media screen and (min-width: 2500px) {
    .img-responsive {
        display: none;
    }
    .img-responsive.mobile {
        display: block;
    }
    .o_pms_pwa_menu_link_mobile {
        display: block;
    }
}
