.modal:not([data-backdrop="false"]) {
    background-color: $bg-theme-color-modal;
}

.o_pms_pwa_notifications_regular {
    margin-left: 1rem;
    margin-right: 2rem;
    overflow-x: auto; //scroll;
    /* display: block ruby; */
    // display: None;
    min-height: 2rem;
}
.o_pms_pwa_reservation {
    background-color: $white;
    td.first-col {
        background-color: $white;
    }
}
// .o_pms_pwa_reservation.accordion {
//     background-color: $bg-theme-color;
//     td.first-col {
//         background-color: $bg-theme-color;
//     }
// }

section.o_pms_pwa_roomdoo_list {
    .o_pms_pwa_abutton.disabled {
        color: $theme-color-text;
        cursor: default;
    }

    .o_pms_pwa_w66 {
        width: 66%;
    }
    .o_pms_pwa_reservation[aria-expanded="true"] {
        background-color: $table-header-color-expand !important;
        color: $white;
        border-bottom: 3px solid $theme-color;
        vertical-align: middle;
        td.first-col,
        td.o_pms_pwa_td_services {
            background-color: $table-header-color-expand !important;
            background: $table-header-color-expand !important;
            color: $white;
            i {
                color: $white !important;
                transform: rotateX(190deg) !important;
            }
            a {
                color: $white !important;
            }
        }
    }

    .show {
        td.first-col::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 2px solid $table-header-color-expand;
        }

        .o_pms_pwa_info::before {
            content: "";
            display: block;
            width: 10px;
            height: 0;
            border-top: 2px solid $table-header-color-expand;
            position: absolute;
            top: 2em;
            left: 0;
        }
    }
    .show.o_pms_pwa_accordion_last_item {
        .o_pms_pwa_info::before {
            background: $white;
            height: auto;
            top: 2em;
            bottom: 0;
        }
    }

    form {
        input.o_pmw_pwa_search_input {
            background-image: url("/pms_pwa/static/img/searchicon.png");
            background-position: 10px 10px;
            background-repeat: no-repeat;
            background-color: transparent;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            color: $table-text-color;
            border: none;
            border-bottom: 1px solid $theme-color;
            margin-bottom: 12px;
            border-radius: 0px;
        }
        a.o_pms_pwa_float_right {
            color: $theme-color;
            border-color: $theme-color;
            background-color: $bg-theme-color;
            & > span {
                & > i {
                    margin-left: 15px;
                    line-height: 22px;
                }
            }
        }
    }
    .table-hover {
        // font: normal normal normal 16px/16px Barlow Condensed;
        font-family: "Barlow Condensed";
        letter-spacing: 0.02px;
        font-size: 18px;
        color: $table-text-color;
        line-height: 16px;
        & > thead {
            color: $theme-color;
            & > tr {
                & > th {
                    border-top: none;
                    border-bottom-color: $theme-color;
                    font-family: "Barlow Condensed";
                    font-size: 18px;
                    font-weight: 600;
                    //font: normal normal medium 16px/15px Barlow Condensed;
                    letter-spacing: 0.02px;
                }
                .o_pms_pwa_reservation_table_header {
                    background-color: $white;
                    width: 200px;
                    position: -webkit-sticky;
                    position: -moz-sticky;
                    position: -ms-sticky;
                    position: -o-sticky;
                    position: sticky;
                    position: -webkit-sticky; /* for safari */
                    z-index: 1;
                    left: 0;
                    top: 0;
                    height: min-content;
                }
            }
        }
        & > tbody {
            & > tr {
                & > td {
                    border-top: none;
                    vertical-align: middle;
                    cursor: pointer;
                    & > span.dropdown {
                        & a.btn {
                            color: $theme-color;
                        }
                        & div.dropdown-menu {
                            border: 1px solid $theme-color;
                            min-width: 7rem;
                            background-color: $white !important;
                            transform: none !important;
                            margin-left: -3rem;
                            font-size: 16px;
                            font-family: "Barlow";
                            line-height: 1.1rem;
                            & button.dropdown-item {
                                padding: 0.25rem 0.5rem;
                                font-weight: 600;
                            }
                            & button.dropdown-item:hover {
                                background-color: $bg-theme-color-modal !important;
                            }
                            & button.disabled.dropdown-item:hover {
                                background-color: $bg-theme-color-modal !important;
                                cursor: default;
                            }
                        }
                    }
                    & > button.btn {
                        color: $theme-color;
                        margin-left: -0.5rem;
                        margin-right: -1rem;
                    }
                }
                &.o_pms_pwa_accordion_padding {
                    & > td.first-col {
                        // border-left: 1px $bg-theme-color solid;
                        position: -webkit-sticky;
                        position: -moz-sticky;
                        position: -ms-sticky;
                        position: -o-sticky;
                        position: sticky;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        height: min-content;
                    }
                }
                & > td.first-col {
                    display: block;
                    width: 200px;
                    position: -webkit-sticky;
                    position: -moz-sticky;
                    position: -ms-sticky;
                    position: -o-sticky;
                    position: sticky;

                    z-index: 1;
                    left: 0;
                    top: 0;
                    height: min-content;

                    .o_pms_pwa_info {
                        display: flex;
                        img.o_pms_pwa_img_rounded_bg {
                            min-width: 40px;
                            min-height: 40px;
                        }
                        .o_pms_pwa_info_name {
                            //font: normal normal bold 16px/16px Barlow Condensed;
                            font-family: "Barlow Condensed";
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 0.02px;
                            margin-left: -0.5rem;
                        }
                        .o_pms_pwa_badge_position {
                            position: relative;
                            top: -1em;
                            right: 1.5em;
                            border-radius: 10em;
                            padding: 0.2em 0.4em;
                            font-family: "Barlow Condensed";
                            text-align: center;
                            font-size: 12px;
                            font-weight: bold;
                            //font: normal normal bold 12px/14px Barlow Condensed;
                            color: $white;
                            background-color: $badge-color;
                        }
                        .o_pms_pwa_info_num {
                            /* position: relative;
                            left: 15%; */
                            float: right;
                            i {
                                color: $theme-color;
                            }
                            img {
                                padding-top: -2px;
                            }
                        }

                        a:first-of-type {
                            color: $table-text-color;
                            margin-left: -0.5rem;
                        }
                    }

                    // div:first-of-type {
                    //     font-weight: bold;
                    // }
                    //
                }
                & > td.o_pms_pwa_lh45 {
                    // line-height: 45px;
                    overflow: hidden;
                    max-width: 75ch;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                & > td:last-of-type {
                    background: transparent
                        linear-gradient(90deg, #daf7fc 1%, $white 10%) 0% 0% no-repeat
                        padding-box;
                }
            }
            & > tr:hover {
                background-color: $bg-theme-color;
                td.first-col {
                    background-color: $bg-theme-color;
                }
            }
        }
    }
    .tags_holder {
        display: inline-block;
        //font: normal normal medium 12px/30px Barlow Condensed;
        & > span {
            background-color: $bg-theme-color;
            color: $theme-color-text;
            font-size: 15px;
            padding: 3px 6px;
            & > span {
                color: $table-text-color;
                margin-left: 5px;
            }
            & span.o_pms_tag_index {
                color: $theme-color-text;
                text-transform: capitalize;
            }
            & > button {
                float: none;
                color: $theme-color-text;
                line-height: 18px;
                & > span {
                    font-size: 15px;
                    margin-left: 5px;
                }
            }
        }
    }
}

/*******************************
* MODAL
*******************************/

div.o_pms_pwa_reservation_modal,
div.o_pms_pwa_filters_modal,
div.o_pms_pwa_new_reservation_modal {
    &.modal.o_pms_pwa_right .modal-dialog {
        position: fixed;
        margin: auto;
        margin-top: 60px;
        margin-right: 10px;
        width: 25%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
        @media (max-width: 1677px) {
            width: 450px;
        }
        @media (max-width: 768px) {
            width: 95%;
        }
    }
    &.modal.o_pms_pwa_right .modal-content {
        overflow-y: auto;
        height: 98%;
        & > div.modal-header {
            border-bottom: none;
            & > button.close {
                color: $theme-color;
            }
            & > div.modal-title {
                color: $table-text-color;
                font-size: 22px;
                // font-family: "Barlow Condensed", sans-serif;
                font-weight: bold;
                letter-spacing: 0.02px;
                text-transform: uppercase;
            }
        }
        & > div.o_pms_pwa_modal_header {
            .o_pms_pwa_modal_header_pad {
                padding-right: 1rem;
            }
        }
        & > div.o_pms_pwa_modal_body {
            overflow-x: hidden;
            button.o_pms_pwa_btn_border {
                margin-top: 0.25rem;
            }
            .o_pms_pwa_button_filter {
                width: 30%;
                &_margin {
                    margin-left: 1rem;
                }
            }
        }
    }
    &.modal.o_pms_pwa_right.fade .modal-dialog {
        padding: 0px;
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    &.modal.o_pms_pwa_right.fade.in .modal-dialog {
        right: 0;
    }
    h5 {
        color: $theme-color;
        font-weight: bold;
        font-size: 18px;
    }
    .btn-message {
        width: 100%;
        margin-top: 0.25rem;
        border-radius: 1.5rem;
        border: none;
        background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
        color: $white;
    }
}

div.o_pms_pwa_reservation_modal {
    div.modal-header.o_pms_pwa_modal_header {
        display: block;
    }
    div.o_pms_pwa_modal_header_pad {
        border-bottom: 1px solid $table-text-color-lighter;
        padding-bottom: 10px;
        > h4.modal-title {
            color: $table-text-color !important; /* Check the important on h4 */
            text-transform: uppercase;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 0.02px;
            > span {
                color: $theme-color;
            }
        }
        > a.o_pms_pwa_btn_border {
            padding: unset;
            max-height: 2rem;
        }
        > button.close {
            color: $theme-color;
        }
    }
    div.o_pms_pwa_group_separation {
        border-bottom: 1px solid $table-text-color-lighter;
    }

    label.o_pms_pwa_checkbox_label {
        padding-top: 0;
    }
    .o_pms_pwa_radiobox {
        display: block;
        margin-top: -1rem;
        label.o_pms_pwa_radiobox_label {
            padding-top: 0.75rem;
        }
    }
}

/*******************************
* SHARED
*******************************/

section.o_pms_pwa_roomdoo_list,
div.o_pms_pwa_reservation_modal {
    .o_pms_pwa_reservation_name {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        // normal normal bold 18px/22px Barlow;
        letter-spacing: 0.02px;
        color: $table-text-color;
        margin-left: -2.5rem;
        // margin-top: 0.5rem;
        @media (max-width: 1677px) {
            margin-left: -1.5rem;
        }
        @media (max-width: 768px) {
            margin-left: -4.5rem;
        }
        @media (max-width: 610px) {
            margin-left: -1.5rem;
        }
    }
    .o_pms_pwa_reservation_anchor {
        text-decoration: none;
        color: $table-text-color;
        margin-left: -2.5rem;
        @media (max-width: 1677px) {
            margin-left: -1.5rem;
        }
        @media (max-width: 768px) {
            margin-left: -4.5rem;
        }
        @media (max-width: 610px) {
            margin-left: -1.5rem;
        }
    }
    .o_pms_pwa_img_rounded_bg {
        background-color: $white;
        //padding: 0.15rem;
    }
    .progress {
        height: 0.25rem;
    }
    .o_pms_pwa_btn_border {
        width: 100%;
        border-radius: 1.5rem;
        border: 1px solid $theme-color;
        color: $theme-color;
    }
    span.o_pms_pwa_wler {
        font-weight: lighter;
        color: $table-text-color-lighter;
    }
    .o_pms_pwa_shadow {
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
        padding: 10px;
        border-radius: 0.3rem;
        .o_pms_pwa_total_title {
            color: $theme-color;
            font-weight: bold;
            font-size: 14px;
        }
        .o_pms_pwa_total_price {
            color: $table-text-color;
            font-size: 22px;
            font-weight: bold;
            span {
                font-size: 14px;
                font-weight: 400;
                display: block;
                margin-top: -0.25rem;
            }
        }
    }
    .btn-persona-info{
        width: 100%;
        background-color: $bg-theme-color;
        color: $black;
        border: 1px $theme-color solid;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        > span.bg-red {
            color: $white;
            background-color: $red;
            border-radius: 1rem;
        }
        > div {
            background: unset;
            background-color: $bg-theme-color;
            > div.card.card-body {
                background-color: transparent !important;
                border: unset;
            }
        }

    }
    .btn-persona-info.dropdown-toggle::after {
        margin-top: 0.55rem;
        float:right;
    }
    .btn-persona-info-item.dropdown-menu {
        width: 100%;
    }
    .o_pms_pwa_messages::before {
        display: none;
    }
    .o_pms_pwa_messages::after {
        display: none;
    }

    .o_pms_pwa_messages {
        &.collapsed {
            background: url("/pms_pwa/static/img/svg/flecha-dropdown.svg")
                $bg-theme-color no-repeat calc(100% - 10px) !important;
        }
        width: 100%;
        background-color: $bg-theme-color;
        color: $black;
        border: 1px $theme-color solid;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("/pms_pwa/static/img/svg/flecha-dropdown-up.svg")
            $bg-theme-color no-repeat calc(100% - 10px) 7% !important;
        > span.bg-red {
            color: $white;
            background-color: $red;
            border-radius: 1rem;
        }
        > div {
            background: unset;
            background-color: $bg-theme-color;
            > div.card.card-body {
                background-color: transparent !important;
                border: unset;
            }
        }
    }
    .o_pms_pwa_messages::-ms-expand {
        display: none;
    }
    .o_pms_pwa_30w {
        width: 30%;
    }
    .o_pms_pwa_50w {
        width: 50%;
    }
    .o_pms_pwa_price_link {
        color: $theme-color-text;
        text-decoration: underline;
        font-size: medium;
        font-weight: 600;
        text-align: center;
    }
    /* Extras */
    tr:nth-child(odd) > .o_pms_pwa_detail_td {
        background-color: $bg-theme-color-extras;
        padding-left: 2rem;
        font-size: 16px;
        font-weight: 600;
    }
    tr:nth-child(even) > .o_pms_pwa_detail_td {
        background-color: $bg-theme-color-extras;
        padding-left: 2rem;
        font-size: 16px;
        font-weight: 600;
    }
    tr:nth-child(odd) > .o_pms_pwa_detail_td {
        background-color: $bg-theme-color-extras;
        padding-left: 2rem;
        font-size: 16px;
        font-weight: 600;
    }
    tr > .o_pms_pwa_detail_th {
        background-color: $bg-theme-color-extras !important;
        padding-left: 2rem;
        font-weight: 600;
        font-size: 14px;
    }
    // .o_pms_pwa_rb_spot {
    //     width: 1rem !important;
    //     height: 1rem !important;
    // }
    .o_pms_pwa_collapse {
        background-color: $bg-theme-color;
        margin-left: -1.5rem;
        margin-right: -2rem;
        @media (max-width: 464px) {
            margin-left: -4.5rem;
            margin-right: -3rem;
        }
    }
    .o_pms_pwa_collapse_content {
        margin: auto;
        min-height: 3rem;
        table {
            margin: auto;
            text-align: left;
            width: 100%;
            thead {
                color: $theme-color;
                font-weight: 600;
                font-size: small;
            }
            tbody {
                line-height: 1.75rem;
                font-size: medium;
            }
        }
    }

    .o_pms_pwa_rb_box {
        max-width: 420px;
        margin: auto;
        margin-top: -0.5rem;
    }
    .o_pms_pwa_rb {
        padding: 0.3rem 0;
        border-radius: 0.3em;
    }

    .o_pms_pwa_rb_tab {
        display: inline-block;
        position: relative;
        width: 25%;
    }

    .o_pms_pwa_rb_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: $theme-color;
    }

    .o_pms_pwa_rb_spot {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: 1px solid $theme-color;
        border-radius: 100%;
        cursor: pointer;
        transition: ease 0.5s;
        @media (max-width: 768px) {
            width: 1.25rem !important;
            height: 1.25rem !important;
        }
    }

    .o_pms_pwa_rb_tab_active .o_pms_pwa_rb_spot {
        background: $theme-color;
        border: 1px solid $theme-color;
        color: $white;
    }

    .o_pms_pwa_rb_tab_active .o_pms_pwa_rb_txt {
        color: $white;
    }
    .o_pms_pwa_extras {
        color: $theme-color;
        margin-left: -3rem;
        text-decoration: underline;
        font-size: medium;
        font-weight: 600;
    }
}

div.o_pms_pwa_new_reservation_modal {
    .o_pms_pwa_group_separation {
        border-bottom: 1px solid $table-text-color-lighter;
    }
}

section.o_pms_pwa_roomdoo_section,
div.o_pms_pwa_reservation_modal,
div.o_pms_pwa_filters_modal,
div.o_pms_pwa_new_reservation_modal {
    a.btn-outline-dark,
    button.btn-outline-dark {
        border-width: 1px;
    }
    .o_pms_pwa_pay {
        width: 90%;
        margin-top: 20%;
        margin-left: 5%;
    }
}

.o_pms_pwa_button_filter {
    background-color: $bg-theme-color;
    border: 1px solid $theme-color;
    i {
        color: $theme-color;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    img{
        display: block !important;
    }
}
.o_pms_pwa_multi_reservation_modal{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 25.5%;
    min-height: 100px;
    z-index: 9999;
    top: 1%;
    .o_pms_pwa_modal_header{
        border:none !important;
        padding-bottom: 0rem;
        margin-bottom: -0.5rem;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        h3{
            font-size: 18px;
            margin-left: 3rem;
        }
    }
    .o_domain_leaf_operator_select{
        min-width: 150px;
    }
    & input[name="adults"] {
        width: 50px;
    }
    & input, & select{
        padding-top:0% !important;
        min-height: 1rem !important;
    }
}
