section.o_pms_pwa_roomdoo {
    @media (max-width: 991.98px) {
        .padding {
            padding: 1.5rem;
        }
    }

    @media (max-width: 767.98px) {
        .padding {
            padding: 1rem;
        }
    }

    .padding {
        padding: 3rem;
    }

    .box {
        position: relative;
        border-radius: 3px;
        background: $bg-theme-color;
        border-top: 3px solid $bg-theme-color;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .box-header.with-border {
        border-bottom: 1px solid $bg-theme-color;
    }

    .box-header.with-border {
        border-bottom: 1px solid $bg-theme-color;
    }

    .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
    }

    .box-header:before,
    .box-body:before,
    .box-footer:before,
    .box-header:after,
    .box-body:after,
    .box-footer:after {
        content: "";
        display: table;
    }

    .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
    }

    .box-header > .fa,
    .box-header > .glyphicon,
    .box-header > .ion,
    .box-header .box-title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
        line-height: 1;
    }

    .box-header > .box-tools {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .box-header > .box-tools [data-toggle="tooltip"] {
        position: relative;
    }

    .bg-blue {
        color: $white;
        background-color: $theme-color;
    }

    .direct-chat {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        overflow-x: hidden;
        padding: 0;
    }

    .direct-chat-messages {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        padding: 10px;
        height: 250px;
        overflow: auto;
    }

    .direct-chat-messages,
    .direct-chat-contacts {
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        -moz-transition: -moz-transform 0.5s ease-in-out;
        -o-transition: -o-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
    }

    .direct-chat-msg {
        margin-bottom: 10px;
    }

    .direct-chat-msg,
    .direct-chat-text {
        display: block;
    }

    .direct-chat-info {
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
    }

    .direct-chat-timestamp {
        color: #999;
    }

    .direct-chat-img {
        border-radius: 50%;
        float: left;
        width: 40px;
        height: 40px;
    }

    .direct-chat-text {
        border-radius: 5px;
        position: relative;
        padding: 5px 10px;
        background: $bg-theme-color;
        border-color: $bg-theme-color;
        color: $black;
        margin: 5px 0 0 50px;
    }

    .direct-chat-msg,
    .direct-chat-text {
        display: block;
    }

    .direct-chat-text:before {
        border-width: 6px;
        margin-top: -6px;
    }

    .direct-chat-text:after,
    .direct-chat-text:before {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
    }

    .direct-chat-text:after {
        border-width: 5px;
        margin-top: -5px;
    }

    .direct-chat-text:after,
    .direct-chat-text:before {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
    }

    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .direct-chat-msg:after {
        clear: both;
    }

    .direct-chat-msg:after {
        content: "";
        display: table;
    }

    .direct-chat-info {
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
    }

    .right .direct-chat-img {
        float: right;
    }

    .direct-chat-warning .right > .direct-chat-text {
        background: $bg-theme-color;
        border-color: $bg-theme-color;
        color: $black;
    }

    .right .direct-chat-text {
        margin-right: 50px;
        margin-left: 0;
    }

    .box-footer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top: 1px solid #f4f4f4;
        padding: 10px;
        background-color: #fff;
    }

    .box-header:before,
    .box-body:before,
    .box-footer:before,
    .box-header:after,
    .box-body:after,
    .box-footer:after {
        content: "";
        display: table;
    }
    .message-input {
        width: 90%;
        height: 6rem;
        margin: auto;
    }
    .btn-message {
        width: 90%;
        margin-top: 1rem;
        border-radius: 1.5rem;
        background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
        color: #fff;
    }
    .btn-link {
        color: $theme-color;
        font-weight: bold;
    }

    .btn-persona-info {
        width: 100%;
        background-color: $bg-theme-color;
        color: $black;
        border: 1px $theme-color solid;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }
    .bg-red {
        color: $white;
        background-color: $red;
    }
    .pago-header {
        color: $theme-color;
        font-size: small;
        border-bottom: 1px $theme-color solid;
    }
    .right {
        text-align: right;
    }
    .pago-badge {
        background-color: $white;
        border-radius: 0.5rem;
        color: $theme-color;
        font-size: small;
        font-weight: bold;
        line-height: 0.8rem;
        min-height: 3rem;
        .price {
            color: $black;
            font-size: medium;
            line-height: 1.5rem;
        }
        .price2 {
            color: $red;
            font-size: medium;
            line-height: 1.5rem;
        }
        .pt {
            color: $black;
            font-size: x-large;
            margin-top: 2rem;
            font-weight: bold;
            line-height: 2.5rem;
        }
        .num {
            color: $black;
            font-weight: 400;
            font-size: large;
        }
    }
    hr {
        height: 1px;
        background-color: $theme-color;
        border: none;
        width: 100%;
    }
}
