body {
    overflow-x: hidden;
    display: flex !important;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapwrap {
    min-width: 100vw;
}

body.toggled #sidebar-wrapper {
    margin-left: 0;
}
.o_pms_pwa_page_title {
    font-weight: bold;
    font-size: large;
    float: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapwrap {
        min-width: 0;
        width: 100%;
    }

    body.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    #menu-toggle {
        display: none !important;
    }
    .o_pms_pwa_page_title {
        font-weight: bold;
        font-size: xx-large;
        float: left;
        margin-left: -15rem;
        margin-top: 0.5rem;
    }
}

.o_pms_pwa_bg_theme {
    background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
    color: $white;
}
.o_pms_pwa_nav_item {
    color: $white;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    & .active {
        border-bottom-left-radius: 5rem;
        border-top-left-radius: 5rem;
        background-color: $white;
        color: $theme-color;
        width: 110%;
    }
    & a {
        color: $white;
    }
    & a:hover {
        color: $black;
    }
}

/* UFF */
#top_menu_container > .collapse:not(.show) {
    display: block;
}
#menu-toggle {
    display: block;
    float: left;
    color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
    padding: 0.25rem 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
}
