#oe_main_menu_navbar {
    opacity: 0;
    visibility: hidden;
    display: none;
}
body.o_connected_user {
    padding-top: 0 !important;
}

div.o_pms_pwa_reservation_modal,
div.o_pms_pwa_filters_modal,
div.o_pms_pwa_new_reservation_modal {
    &.modal.o_pms_pwa_right .modal-dialog {
        margin-top: 10px;
    }
}
