section.o_pms_pwa_roomdoo {
    @media (max-width: 991.98px) {
        .padding {
            padding: 1.5rem;
        }
    }

    @media (max-width: 767.98px) {
        .padding {
            padding: 1rem;
        }
        .o_pms_pwa_keypad_footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            min-height: 5rem;
            background-image: linear-gradient(
                to top,
                $theme-color 50%,
                $bg-theme-color
            );
            color: $white;
            text-align: center;
            z-index: 9999;
            .btn-radius {
                text-align: center;
                border: 1px solid $white;
                color: $white;
                background-color: transparent;
                //width: 80%;
            }
            .o_pms_pwa_disabled {
                text-align: center;
                color: $grey-300;
                border: 1px solid $grey-300;
                background-color: transparent;
                margin-top: 1rem;
                margin-bottom: 1rem;
                float: left;
                width: 40%;
                margin-left: 5%;
                margin-right: 5%;
            }
            .o_pms_pwa_btn_principal {
                text-align: center;
                width: 90%;
                margin-top: 1rem;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
        .o_pms_pwa_rb_spot {
            width: 1rem !important;
            height: 1rem !important;
        }
    }
    .padding {
        padding: 3rem;
    }

    .box {
        position: relative;
        border-radius: 3px;
        background: $bg-theme-color;
        border-top: 3px solid $bg-theme-color;
        margin-bottom: 20px;
        width: 100%;
        //        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .box-header.with-border {
        border-bottom: 1px solid $bg-theme-color;
    }

    .box-header.with-border {
        border-bottom: 1px solid $bg-theme-color;
    }

    .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
    }

    .box-header:before,
    .box-body:before,
    .box-footer:before,
    .box-header:after,
    .box-body:after,
    .box-footer:after {
        content: "";
        display: table;
    }

    .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
    }

    .box-header > .fa,
    .box-header > .glyphicon,
    .box-header > .ion,
    .box-header .box-title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
        line-height: 1;
    }

    .box-header > .box-tools {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .box-header > .box-tools [data-toggle="tooltip"] {
        position: relative;
    }

    .bg-blue {
        color: $white;
        background-color: $theme-color;
    }

    .o_pms_pwa_direct_chat {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        overflow-x: hidden;
        padding: 0;
    }

    .o_pms_pwa_direct_chat_messages {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        padding: 10px;
        height: 250px;
        overflow: auto;
    }
    .o_pms_pwa_direct_chat_messages {
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        -moz-transition: -moz-transform 0.5s ease-in-out;
        -o-transition: -o-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
    }

    .o_pms_pwa_direct_chat_msg {
        margin-bottom: 10px;
    }

    .o_pms_pwa_direct_chat_msg,
    .o_pms_pwa_direct_chat_text {
        display: block;
    }

    .o_pms_pwa_direct_direct_chat_info {
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
        & strong {
            font-size: 1.1rem !important;
            font-weight: 900;
        }
    }

    .o_pms_pwa_direct_chat_timestamp {
        color: $theme-color;
        font-size: 1rem;
    }

    .o_pms_pwa_direct_chat_img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid $theme-color;
    }

    .o_pms_pwa_direct_chat_text {
        border-radius: 5px;
        position: relative;
        padding: 5px 10px;
        background: $bg-theme-color;
        border-color: $bg-theme-color;
        color: $black;
        margin: 5px 0 0 50px;
    }

    .o_pms_pwa_direct_chat_msg,
    .o_pms_pwa_direct_chat_text {
        display: block;
    }

    .o_pms_pwa_direct_chat_text:before {
        border-width: 6px;
        margin-top: -6px;
    }

    .o_pms_pwa_direct_chat_text:after,
    .o_pms_pwa_direct_chat_text:before {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
    }

    .o_pms_pwa_direct_chat_text:after {
        border-width: 5px;
        margin-top: -5px;
    }

    .o_pms_pwa_direct_chat_text:after,
    .o_pms_pwa_direct_chat_text:before {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
    }

    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .o_pms_pwa_direct_chat_msg:after {
        clear: both;
    }

    .o_pms_pwa_direct_chat_msg:after {
        content: "";
        display: table;
    }

    .o_pms_pwa_direct_direct_chat_info {
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
    }
    .o_pms_pwa_direct_chat_warning .right > .o_pms_pwa_direct_chat_text {
        background: $bg-theme-color;
        border-color: $bg-theme-color;
        color: $black;
    }

    .right .o_pms_pwa_direct_chat_text {
        margin-right: 50px;
        margin-left: 0;
    }
    .box-footer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top: 1px solid #f4f4f4;
        padding: 10px;
        background-color: #fff;
    }

    .box-header:before,
    .box-body:before,
    .box-footer:before,
    .box-header:after,
    .box-body:after,
    .box-footer:after {
        content: "";
        display: table;
    }
    .message-input {
        width: 90%;
        height: 6rem;
        margin: auto;
    }
    .btn-message {
        width: 90%;
        margin-top: 1rem;
        border-radius: 1.5rem;
        border: none;
        background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
        color: $white;
    }
    .btn-confirm {
        width: 90%;
        border-radius: 1.5rem;
        border: none;
        background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
        color: $white;
    }
    .btn-print {
        width: 90%;
        margin-top: 1rem;
        border-radius: 1.5rem;
        border: 1px solid $white;
        color: $white;
    }
    .btn-link {
        color: $theme-color;
        font-weight: bold;
    }

    .bg-red {
        color: $white;
        background-color: $red;
    }
    .pago-header {
        color: $theme-color;
        font-size: small;
        border-bottom: 1px $theme-color solid;
    }
    .right {
        text-align: right;
    }
    .pago-badge {
        background-color: $white;
        border-radius: 0.5rem;
        color: $theme-color;
        font-size: small;
        font-weight: bold;
        line-height: 0.8rem;
        min-height: 3rem;
        padding: 0.5rem;
        margin: 2rem 0 2rem 0;

        .price {
            color: $black;
            font-size: medium;
            line-height: 1.5rem;
        }
        .price2 {
            color: $red;
            font-size: medium;
            line-height: 1.5rem;
        }
        .pt {
            color: $black;
            font-size: x-large;
            margin-top: 2rem;
            font-weight: bold;
            line-height: 2.5rem;
        }
        .num {
            color: $black;
            font-weight: 400;
            font-size: large;
        }
    }
    hr {
        height: 1px;
        background-color: $theme-color;
        border: none;
        width: 100%;
    }
    .btn-persona-info::before {
        display: none;
    }
    .btn-persona-info::after {
        display: none;
    }
    .btn-persona-info {
        width: 100%;
        background-color: $bg-theme-color;
        color: $black;
        border: 1px $theme-color solid;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("/pms_pwa/static/img/br_down.png") $bg-theme-color no-repeat
            98.5% !important;
        background: url("/pms_pwa/static/img/br_down.png") $bg-theme-color no-repeat
            calc(100% - 10px) !important;
    }
    .btn-persona-info::-ms-expand {
        display: none;
    }
    .title-header {
        color: $black;
        font-weight: 900;
        font-size: large;
        text-transform: uppercase;
    }
    .blue-header {
        color: $theme-color;
        font-weight: 900;
        font-size: large;
        margin-left: 2rem;
    }
    .moreinfo-header {
        color: $black;
        font-weight: 600;
        font-size: medium;
        margin-left: 4rem;
    }
    .status-header {
        color: $red;
        font-weight: 900;
        font-size: large;
        margin-left: 2rem;
    }
    .o_pms_pwa_card_header {
        border-bottom: none;
        margin-bottom: -1rem;
        h5 {
            font-weight: 900;
        }
    }
    .o_pms_pwa_img_rounded {
        border: 2px solid $theme-color;
    }
    .o_pms_pwa_collapse {
        background-color: $bg-theme-color;
        margin-left: -1.5rem;
    }
    .o_pms_pwa_collapse_content {
        margin: auto;
        min-height: 3rem;
        table {
            margin: auto;
            text-align: left;
            width: 80%;
            thead {
                color: $theme-color;
                font-weight: 600;
                font-size: small;
            }
            tbody {
                line-height: 1.5rem;
                font-size: medium;
            }
        }
    }

    .o_pms_pwa_rb_box {
        max-width: 420px;
        margin: auto;
    }
    .o_pms_pwa_rb {
        padding: 0.3rem 0;
        border-radius: 0.3em;
    }

    .o_pms_pwa_rb_tab {
        display: inline-block;
        position: relative;
        width: 20%;
    }

    .o_pms_pwa_rb_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: $theme-color;
    }

    .o_pms_pwa_rb_spot {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: 1px solid $theme-color;
        border-radius: 100%;
        cursor: pointer;
        transition: ease 0.5s;
    }

    .o_pms_pwa_rb_tab_active .o_pms_pwa_rb_spot {
        background: $theme-color;
        border: 2px solid $theme-color;
        color: $white;
    }

    .o_pms_pwa_rb_tab_active .o_pms_pwa_rb_txt {
        color: $white;
    }
    .o_pms_pwa_disabled {
        color: $white;
        background-color: $grey-300;
    }
    .o_pms_pwa_extras {
        color: $theme-color;
        margin-left: -3rem;
        text-decoration: underline;
        font-size: medium;
        font-weight: 600;
    }
    .o_pms_pwa_black_hr {
        background-color: $black;
        height: 1px;
        border: 0;
    }
    .o_pms_pwa_price_link {
        color: $theme-color;
        text-decoration: underline;
        font-size: medium;
        font-weight: 600;
        text-align: center;
    }
}
