section.o_pms_pwa_roomdoo {
    .o_pmw_pwa_search_input {
        background-image: url("/pms_pwa/static/img/searchicon.png");
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-color: #dcdcdc75;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    a.btn-outline-dark,
    button.btn-outline-dark {
        border-width: 1px;
    }
    div.o_pms_pwa_reservation_list_table {
        & > div {
            text-align: left;
        }
        & > div:first-of-type {
            text-transform: uppercase;
        }
        & > div:not(:first-of-type) {
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }
        & > div:nth-child(even) {
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
        & > div:not(:first-of-type):hover {
            background-color: #f1f1f1;
        }
        & > .row.item > div:first-of-type {
            border-right: 1px solid #000000;
        }
        div.o_pmw_pwa_ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        div.o_pms_pwa_min_client_min_height {
            min-height: 40px;
        }
    }
    .o_pms_pwa_badge_position {
        position: relative;
        top: -10px;
        right: 12px;
        font-size: 10px;
    }
}

/*******************************
* MODAL
*******************************/

div.o_pmw_pwa_reservation_modal {
    &.modal.o_pms_pwa_right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 360px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
    &.modal.o_pms_pwa_right .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    &.modal.o_pms_pwa_right.fade .modal-dialog {
        padding: 0px;
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    &.modal.o_pms_pwa_right.fade.in .modal-dialog {
        right: 0;
    }
    div.modal-content {
        & > div.o_pms_pwa_modal_header {
            .o_pms_pwa_modal_header_pad {
                padding-right: 1rem;
            }
        }
        & > div.o_pms_pwa_modal_body {
            & > div.container-fluid {
                & > .row {
                    padding-top: 5px;
                    select.o_pms_pwa_messages {
                        background-color: #000000c4;
                        margin-top: 0.5rem;
                        color: #ffffff;
                    }
                }
                form > sheet > div.form-group {
                    & label:not(.o_pms_pwa_checkbox_label),
                    & input,
                    & select,
                    & textarea {
                        background-color: #dcdcdc75;
                    }
                    & select,
                    & input {
                        border: unset;
                        border-bottom: 2px solid #000;
                    }
                    & label {
                        font-weight: unset;
                        font-size: small;
                    }
                }
                & .o_pms_pwa_reservation_name {
                    font-size: large;
                }
            }
        }
    }
}

/*******************************
* SHARED
*******************************/

section.o_pms_pwa_roomdoo_section,
div.o_pmw_pwa_reservation_modal {
    a.btn-outline-dark,
    button.btn-outline-dark {
        border-width: 1px;
    }
}

/*******************************
* MEDIAS
*******************************/
@media (max-width: 342px) {
    section.o_pms_pwa_roomdoo {
        div.o_pms_pwa_reservation_list_table {
            & .o_pms_pwa_profile_image_container {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    div.o_pmw_pwa_reservation_modal {
        &.modal.o_pms_pwa_right .modal-dialog {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    section.o_pms_pwa_roomdoo {
        div.o_pms_pwa_reservation_list_table {
            & > div:not(:first-of-type) {
                border: 1px solid #000000;
            }
            & > .row.item > div:first-of-type {
                border-right: unset;
            }
            & > .row.item > div:nth-child(2),
            & > .row.item > div:first-of-type {
                background-color: #dcdcdc75;
                border-bottom: 1px solid #dcdcdc;
            }
        }
        & .o_pms_pwa_float_right {
            float: right;
        }
    }
}

@media (min-width: 993px) {
    section.o_pms_pwa_roomdoo {
        div.o_pms_pwa_reservation_list_table {
            & button {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
