@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

$theme-color: #01b6e3;
$bg-theme-color: #daf7fc;
$bg-theme-color-modal: #01b6e345;
$bg-theme-color-extras: #e2f7fc;
$theme-color-text: #00b5e2;
$grey-900: #394240;
$grey-300: #dadada;
$badge-color: #ff3b00;
$table-text-color: #3f4443;
$table-text-color-lighter: #b5bfbd;
$table-header-color-expand: #00b5e2;

body {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
}
// scroll Firefox
body {
    scrollbar-width: auto; /* "auto" or "thin" */
    scrollbar-color: $theme-color $white; /* scroll thumb and track */
}
// scroll Chrome
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $theme-color;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $bg-theme-color-modal;
}

footer {
    visibility: hidden;
    display: none;
    opacity: 0;
}
header#top {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
main {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    // margin-top: 1rem;
}
footer {
    visibility: hidden;
}
header#top {
    margin-left: 2rem;
    margin-right: 2rem;
}
main {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}
a {
    color: $theme-color;
}
form > div.form-group,
div.o_pms_pwa_filters_modal,
div.o_pms_pwa_reservation_modal {
    & input,
    & select,
    & textarea {
        min-height: 3rem;
        border: 1px $theme-color-text solid;
        font-weight: 500;
        font-size: 16px;
        padding-top: 1.2rem;
    }
    & input[type="submit"] {
        padding-top: 0;
    }
    & label {
        font-weight: 600;
        font-size: 12px;
        padding-top: 0.15rem;
        position: absolute;
        color: $theme-color-text;
    }
    .o_pms_pwa_checkbox {
        min-height: 1rem;
        border: 1px solid;
        margin-left: -3rem;
        border-color: $theme-color-text !important;
    }
    .o_pms_pwa_checkbox_label {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        position: absolute;
        color: $black;
        padding-left: 0.5rem;
    }
    .o_pms_pwa_radiobox_label {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        position: absolute;
        color: $black;
        padding-left: 0.5rem;
    }
}
form > div.form-group {
    & input,
    & select,
    & textarea {
        border: 1px solid $theme-color-text;
    }
    & label {
        //font-weight: unset;
        font-size: small;
    }
    .form-check {
        margin-top: 0.25rem;
    }
}
.bg-dark {
    color: $white;
    background-color: $grey-900 !important;
}
h3 {
    color: $theme-color !important;
    text-transform: uppercase;
}
h4 {
    color: $theme-color !important;
    font-weight: 900 !important;
    font-size: large !important;
}
.btn-radius {
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: medium;
}
.btn-grey-900 {
    background-color: $table-text-color;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
        background-color: $theme-color;
        color: $white;
    }
}
.btn-grey-300 {
    background-color: $grey-300;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
        color: $white;
    }
}
.btn-pms_pwa {
    background-image: linear-gradient(to right, $theme-color 80%, $bg-theme-color);
    color: $white;
    border: none;
    font-weight: 600;
    &:hover {
        color: $white;
    }
}
.btn-message-form {
    width: 100%;
    margin-top: 0.25rem;
    border-radius: 1.5rem;
    border: none;
    background-image: linear-gradient(to right, $theme-color 50%, $bg-theme-color);
    color: $white;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("/pms_pwa/static/img/svg/flecha-dropdown.svg") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("/pms_pwa/static/img/svg/flecha-dropdown.svg") white no-repeat
        calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
    display: none;
}
.o_pms_pwa_calendar_icon {
    position: absolute;
    top: 0.7rem;
    right: 1.3rem;
    width: 1.5rem;
    height: 1.5rem;
    background: $white;
    pointer-events: none;
    color: $theme-color;
}

.o_pms_icons {
    text-align: right;
    padding-right: 2rem;
    button {
        // margin-right: 4rem;
        min-width: 200px;
        text-transform: uppercase;
        font-size: 16px;
        img {
            margin-right: 0.5rem;
        }
    }
    img {
        margin-left: 1rem;
    }
    #o_pms_pwa_user_property {
        background-color: $bg-theme-color !important;
        color: $theme-color-text;
        width: 150px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin-left: 2rem;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        // @media (max-width: 1250px) {
        //     opacity: 0;
        //     visibility: hidden;
        // }
    }
}

.o_pms_pwa_td_rb {
    min-width: 150px;
}
.o_pms_user_name {
    margin-left: 0.5rem;
    a {
        font-size: 14px;
        font-weight: bold;
        color: $black !important;
        &:hover {
            color: $grey-900 !important;
            text-decoration: none;
        }
    }
    .o_pms_close_session {
        display: block;
        margin-left: 3.75rem;
        margin-top: -1.25rem;
        a {
            font-size: 12px;
            color: $theme-color !important;
            &:hover {
                color: $grey-900 !important;
                text-decoration: none;
            }
        }
    }
}

.o_pms_pwa_calendar_icon span {
    border: none;
    background: transparent;
}

/* Loading */
.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em);
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

.o_pms_pwa_theme_color {
    color: $theme-color;
}

.o_pms_pwa_full_shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    @media (max-width: 991.98px) {
        box-shadow: none;
        margin: -2rem;
    }
}
.o_pms_pwa_navbar_counter {
    color: $theme-color;
    text-decoration: underline;
}
.o_pms_pwa_notifications {
    > span.o_pms_notification_title {
        background-color: $bg-theme-color-modal;
    }
}
.o_pms_notification_title {
    padding: 0.4rem;
    margin: auto;
    text-align: center;
    display: none;
}
@media (max-width: 991.98px) {
    header#top {
        margin-left: -1rem;
        margin-right: 0;
    }
    main {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
.o_header_affixed {
    position: absolute;
}
// Remove chrome calendar icon
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

// TOAST
.o_pms_pwa_roomdoo_alerts {
    position: fixed;
    z-index: 99999;
    bottom: 3%;
    left: 40%;
    .toast.warning {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        .toast-header {
            strong {
                color: #721c24;
            }
        }
    }
    .toast.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        .toast-header {
            strong {
                color: #155724;
            }
        }
    }
}

.o_pms_pwa_img_rounded_bg {
    background-color: $white;
    padding: 0rem;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}
@media (max-width: 991.98px) {
    header#top {
        margin-left: -1rem;
        margin-right: 0;
    }
    main {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
// General para novedades
.o_pms_pwa_modal_number {
    width: 80px;
    min-height: 20px !important;
    height: 35px;
    padding-top: 0rem !important;
    text-align: center;
}
#o_pms_pwa_editModal {
    z-index: 9999 !important;
}
h4.collapsed {
    cursor: pointer !important;
}
#collapse_price_nights {
    font-family: "Barlow Semi Condensed";
    font-size: 16px;
    table {
        border-collapse: collapse;
        border-spacing: 0.5rem;
        border: none;
        width: 98%;
        margin: auto;
        overflow-x: auto;
        th:first-child,
        td:first-child {
            min-width: 0;
        }
        tr {
            border-bottom: 1px solid #84848453;
            th {
                padding: 0.5rem;
                border: none;
                font-size: 14px;
                font-weight: 600;
            }
            td {
                padding: 0.5rem;
                border: none;
                vertical-align: middle;
                color: black !important;
                a {
                    font-weight: 600;
                    letter-spacing: 0px;
                    text-align: left;
                }
            }
        }
    }
}

.o_roomdoo_hide_show2 {
    width: 100%;
}
.o_roomdoo_hide_show-more2 {
    display: none;
    cursor: pointer;
    color: $theme-color;
    text-align: "center";
    margin-left: 40%;
    font-size: 16px;
    font-weight: 600;
}

// Multi select
.o_pms_pwa_selectpicker {
    label {
        position: relative !important;
    }
    select {
        background: none !important;
        padding-top: 0rem !important;
    }
}
.rounded-circle {
    border: 2px solid $theme-color;
}
.rounded-circle_prereservation {
    border: 2px solid #A24680;
    border-radius: 50% !important;
}
.rounded-circle_confirmed {
    border: 2px solid $theme-color;
    border-radius: 50% !important;
}
.rounded-circle_checkin {
    border: 2px solid #00BA39;
    border-radius: 50% !important;
}
.rounded-circle_checkout {
    border: 2px solid #7E7E7E;
    border-radius: 50% !important;
}
.rounded-circle_out-service {
    border: 2px solid #000000;
    border-radius: 50% !important;
}
.rounded-circle_staff {
    border: 2px solid #C08686;
    border-radius: 50% !important;
}
.rounded-circle_to-assign {
    border: 2px solid #ED722E;
    border-radius: 50% !important;
}

.o_pms_pwa_reservation_form {
    .o_pms_pwa_modal_buttons {
        .o_pms_pwa_button_assign {
            background-image: linear-gradient(
                to right,
                $theme-color 80%,
                $bg-theme-color
            );
            color: $white;
            border: none;
            border-radius: 1.5rem;
            font-weight: 600;
            font-size: medium;
            width: 100px;
            &:hover {
                color: $white;
            }
        }
        span.dropdown {
            margin-left: 3rem;
        }
    }
}

/*PRELOADING------------ */
// #preloader {
//     position: fixed;
//     top:0;
//     left:0;
//     right:0;
//     bottom:0;
//     background-color:#FFF; /* change if the mask should have another color then white */
//     z-index:99999; /* makes sure it stays on top */
// }
// #status {
//     width:100px;
//     height:100px;
//     position:absolute;
//     left:50%; /* centers the loading animation horizontally one the screen */
//     top:50%; /* centers the loading animation vertically one the screen */
//     background-image:url("/pms_pwa/static/img/loader.gif");
//     z-index:9999; /* path to your loading animation */
//     background-repeat:no-repeat;
//     background-position:center;
//     background-size: cover;
//     margin:-50px 0 0 -50px; /* is width and height divided by two */
// }
