section.o_pms_pwa_dashboard {
    div.o_pms_pwa_notifications {
        & > span {
            display: block;
        }
        overflow-y: scroll;
        max-height: 75px;
    }
    div.justify-content-center {
        > div {
            float: left;
        }
        > div.o_pms_pwa_no_pl {
            padding-left: unset;
        }
    }
    div.card-body {
        &.o_pms_pwa_blue {
            text-align: center;
            background-color: $theme-color !important;
            color: white;
        }
    }
}
