#wrapwrap.o_portal {
    background-color: $white !important;
    header {
        margin-top: 1.5rem;
    }
    .alert {
        margin-top: 2rem;
    }
    .breadcrumb {
        display: none;
    }
    main {
        margin-top: 1.5rem;
    }
}
